extends ../base.pug

block variables
  - var template = 'home'

block content
  .home(data-background="#C97164" data-color="#F9F1E7")
    .home__wrapper
      .home__titles
        each collection, index in collections
          .home__titles__label=`${home.data.collection} ${Numbers(index)}`
          .home__titles__title=collection.data.title

      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(alt=media.image.alt data-src=media.image.url)

      a.home__link(href=Link(home.data.collections))=home.data.button
        svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 60")
          path(stroke="currentColor" fill="none" d="M144,0.5c79.25,0,143.5,13.21,143.5,29.5S223.25,59.5,144,59.5S0.5,46.29,0.5,30S64.75,0.5,144,0.5z")
          path.home__link__icon__path(stroke="#FFC400" fill="none" d="M144,0.5c79.25,0,143.5,13.21,143.5,29.5S223.25,59.5,144,59.5S0.5,46.29,0.5,30S64.75,0.5,144,0.5z")
